.calculator-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.panel-div{
    display: flex;
    height: 100px;
    width: 400px;
    background-color: lightgreen;
    border: 1px solid;
    border-color: black;
}

.keyboard-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
}


.num-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}


.num-button{
    height: 100px;
    width: 100px;
}

.operation-div{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100px;
}

.operation-button{
    height: 100px;
    width: 100px;
    background-color: lightblue;
}
